.movie-search-card,
.movie-trending-card {
  background-color: var(--color-dark-blue-900);
  height: 100%;
  overflow: hidden;
  padding: calc(var(--spacing) * 2);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  text-align: center;

  transition:
    transform 0.35s ease,
    background-color 0.35s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.05);
    background-color: var(--color-dark-blue-600);
  }

  &:active {
    transform: translateY(-5px) scale(0.97);
    transition-duration: 0.1s;
  }
}

.movie-search-card {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  place-items: center;
}

.movie-trending-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-container {
  overflow: hidden;
  aspect-ratio: 2/3;
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.movie-search-card .movie-info {
  padding-inline: calc(var(--spacing) * 6);
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 6);
}

.movie-search-card .movie-title {
  font-size: 1.25rem;
}

.movie-trending-card .movie-title {
  font-size: 1.125rem;
}

.movie-trending-card .movie-rating {
  display: none;
}
