@import "tailwindcss";

@theme {
  --color-dark-blue-800: #1a1f2b;
  --color-dark-blue-700: #292e3b;
  --color-dark-blue-600: #414654;
  --color-dark-blue-400: #2c3a4f;
  --color-dark-blue-200: #56647b;
  --color-dark-blue-100: #b4c2dc;
  --color-blush: #ff4d4d;
  --color-light-blush: #ffecda;
  --color-mute: #e0e0e0;
}

.nav-item {
  font-weight: 500;
  transform: translateY(0px) scale(1);
  border-bottom: 1px solid transparent;

  transition:
    transform 0.35s ease,
    color 0.35s ease,
    border-bottom 0.45s ease;

  &:hover {
    transform: translateY(-2px) scale(1.085);
    color: var(--color-light-blush);
    border-bottom: 1px solid var(--color-light-blush);
  }
}

.movie-title {
  transition: color 0.35s ease;
}

.movie-card {
  transform: translateY(0);

  transition: transform 0.35s ease;

  &:hover {
    transform: translateY(-3px);
  }

  &:hover .movie-title {
    color: var(--color-light-blush);
  }
}

.movie-details-poster {
  transform: scale(1);

  transition: transform 1s ease;

  &:hover {
    transform: scale(1.05);
  }
}
